.mix-select-body tr td {
	float:left;
	width:80px;
	margin-left:10px;
	text-align:center;
	height:40px;
	line-height:45px;
	cursor: pointer;
}

.mix-select tr td.active {
	background: #009688;
	color: #fff;
}

.mix-select tr td.delete {
	background: #fff;
	color: #000;
}
