{% extends 'layout.html' %}

{% block self_head_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mix-select/mix-select.css') }}"/>
{% endblock %}

{% block content %}
<!-- 内容主体区域 -->

<div class="mix-select">
  <div class="mix-select-row">
    <div class="mix-select-search">
      <label><input type="text" name="title" autocomplete="off" placeholder="搜索职位、公司以及其它相关信息" class="layui-input"></label>
      <button class="layui-btn layui-btn-radius">搜索</button>
    </div>
  </div>

	<table>
		<thead class="salary"><th>薪资</th></thead>
		<tbody>
			<tr>
				<td><a href="javascript:" class="active">不限</a></td>
				<td><a href="javascript:">5k及以下</a></td>
				<td><a href="javascript:">6k-10k</a></td>
				<td><a href="javascript:">11k-15k</a></td>
				<td><a href="javascript:">16k-20k</a></td>
				<td><a href="javascript:">21k-25k</a></td>
				<td><a href="javascript:">26k及以上</a></td>
			</tr>
		</tbody>
	</table>
	<table>
		<thead class="benefit"><th>福利</th></thead>
		<tbody>
			<tr>
				<td><a href="javascript:" class="active">不限</a></td>
				<td><a href="javascript:">餐补</a></td>
				<td><a href="javascript:">六险一金</a></td>
				<td><a href="javascript:">交通补助</a></td>
				<td><a href="javascript:">年底3+薪</a></td>
				<td><a href="javascript:">股票期权</a></td>
			</tr>
		</tbody>
	</table>
	<div class="mix-select-total">
		<span>76</span>
		<span>个职位</span>
	</div>
	<div class="mix-select-sort">
		排序方式 :&ensp; &ensp;
		<a href="javascript:" class="active">默认</a> &ensp;|&ensp;
		<a href="javascript:">按薪资</a> &ensp;|&ensp;
		<a href="javascript:">按经验</a> &ensp;|&ensp;
		<a href="javascript:">按规模</a> &ensp;|&ensp;
		<a href="javascript:">按发布时间</a>
	</div>
</div>

<div id="job-table" class="layui-form">
  <table class="layui-table">
    <colgroup>
      <col width="150">
      <col width="150">
      <col width="200">
      <col width="150">
      <col width="150">
      <col width="150">
      <col width="200">
      <col width="150">
      <col width="150">
      <col width="200">
      <col width="100">
      <col width="100">
    </colgroup>
    <thead>
      <tr>
        <th>职位</th>
        <th>公司</th>
        <th>月薪</th>
        <th>经验要求</th>
        <th>学历要求</th>
        <th>公司地址</th>
        <th>福利优势</th>
        <th>标签</th>
        <th>发布时间</th>
        <th>领域</th>
        <th>阶段</th>
        <th>规模</th>
      </tr>
    </thead>
    <tbody>
      {% for job in jobs %}
        <tr>
          <td><a href="javascript:;" onclick="OpenDesc('{{ job.description }}')">{{ job.name }}</a></td>
          <td><a href="{{ job.home }}" target="_blank">{{ job.company }}</a></td>
          <td>{{ job.salary }}</td>
          <td>{{ job.experience }}</td>
          <td>{{ job.education }}</td>
          <td><a href="javascript:;" onclick="OpenTip('{{ job.address }}', this)">{{ job.zone }}</a></td>
          <td>{{ job.advantage|str2line(',')|safe }}</td>
          <td>{{ job.flags|str2line(',')|safe }}</td>
          <td>{{ job.time }}</td>
          <td>{{ job.field|str2line(',')|safe }}</td>
          <td>{{ job.trend }}</td>
          <td>{{ job.scale }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div id="laypager"></div>

<!-- 内容主体区域 END -->
{% endblock %}

{% block self_foot_script %}
<script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script><!--日期控件，JS库版本不能过高否则tab会失效-->
<script type="text/javascript" src="{{ url_for('static', filename='mix-select/mix-select.js') }}"></script>
<script>
layui.use(['element', 'layer', 'laypage'], function() {
  var element = layui.element;
  var layer = layui.layer;
  var laypage = layui.laypage;

  laypage.render({
    elem: 'laypager',  // 注意，这里的test1是ID，不用加#号
    count: {{ total }},
    limit: 10,
    groups: 10,
    {% if page %}curr: {{ page }}{% endif %},
    jump: function(obj, first) {
      if (!first) {
        location.href = '/' + obj.curr;
      }
    }
  });
});

function OpenTip(value, obj) {
  layer.tips(value, obj, {
    tips: [1, '#009688'],
    time: 0,
    shade: 0.01,
    shadeClose: true
  });
}

function OpenDesc(value) {
  layer.open({
    title: '职位描述',
    type: 1,
    skin: 'layui-layer-molv',
    area: ['480px', '320px'],
    content: value
  });
}
</script>
{% endblock %}