<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Twork</title>
  {% include 'head_css.html' %}
  {% block self_head_css %}{% endblock %}
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  {% include 'topnav.html' %}
  {% include 'sidebar.html' %}

  <div class="layui-body">
    {% include 'tabs.html' %}
    {% block content %}{% endblock %}
  </div>

  {% include 'footer.html' %}
</div>

{% include 'foot_script.html' %}
{% block self_foot_script %}{% endblock %}

</body>
</html>